#
# Ignore Projects specific files & folders.
#
*.log
*.gz
.idea
logs
npm-debug.log
node_modules

#
# Ignore OS specific system files (Thumbs.db, .DS_Store, etc.)
#

# Windows system files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# OSX system files
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Linux system files
.fuse_hidden*
.directory
.Trash-*
